---
layout: default
title: blog
---


<div class="container-fluid text-center" style="background-color: #1d1e22;">
  <div class="header">
    
    <div class="container-fluid" style="background-color: #121212 ;">
      <img src="/assets/header.png" alt="header" style="width: 50%;"/>
      
      </div>
    
  </div>
  
  <div class="row">
    <div class="col-3 col-s-3 menu">
      
<button class="collapsible ">Catagories</button>
<div class="content">
  <ul>
    <li>Most Recents</li>
    <li>Android</li>
    <li>Web</li>
    <li>Debugging</li>
  </ul>
</div>
  </div>
  
    <div class="col-6 col-s-9">
    
      {% for post in site.posts %}
      <div class="w3-container">
      <h1><a href="{{ post.url }}">
        {{ post.title }}
      </a></h1>
      <h5>{{ post.date | date_to_long_string }}</h5>
      <hr>
      
      <p>{{ post.excerpt}}</p>
      
      
      <p><a  href="{{ post.url }}" class="w3-button-small w3-round-xlarge #1d1e22 w3-block"><i class="fa fa-angle-double-right"></i> Take A Look</a></p>
      
      
    </div>
      {% endfor %}
    
    </div>
  
    <div class="col-3 col-s-12">
      <div class="aside">
        <h2>Tags</h2>
        <hr>
        <div class="w3-tag w3-round w3-green w3-tiny" style="margin-top:5px;padding: 3px;">
          <div class="w3-tag w3-round w3-green w3-border w3-border-white">
            {% for post in site.posts %}
            {{post.title}}
            {% endfor %}
          </div>
        </div>
  
      
      </div>
    </div>
  
    </div>
  
  </div>
  
