--- 
title: blogs
layout: default

---

    <div class="article-list">
        <div class="container" id="blogs">
            <div class="intro"></div>
            <div><div class="container-fluid text-center" style="background:#000000">
<span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span>
</div></div>
            <div class="row articles">
                {% for post in site.posts %}
                <div class="col-sm-6 col-md-4 item">  {% if page.image %}
                    <img class="image" src={{ page.image }} alt="Feature Image"/>
                  {% endif %}<a href="#"><img class="img-fluid" src="/assets/img/desk.jpg"></a>  
                    <h3 class="name">{{post.title}}</h3>
                    <p class="text-left" id="tags"><i class="fa fa-tags"></i>&nbsp; {{post.categories}}</p>
                    <p class="description">{{post.excerpt}}</p><a class="action" href="{{post.url}}"><i class="fa fa-arrow-circle-right"></i></a></div>
              {% endfor %}
    
