<div id="footer" class="footer-dark">
    <footer style="font-family: 'Alegreya SC', serif;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 item text">
                    <h3><br><a href="https://bootstrapstudio.io/releases/app/4.5.3/#">₳₦Ø₦3m!†¥</a><img src="/assets/img/logo.jpeg" width="64" alt="logo sm"><br><br></h3>
                    <p>" our goal is to help people who are having problem's learning "&nbsp;<i class="fas fa-code"></i></p>
                </div>
                <div class="col align-self-center item social"><a href="https://www.youtube.com/channel/UChjpTjwVH5py0Du0fIKORKw" target="_blank"><i class="fab fa-youtube"></i></a><a href="https://play.google.com/store/apps/dev?id=5407595051200327049" target="_blank"><i class="fab fa-google-play"></i></a>
                    <a
                        href="https://twitter.com/annonemity1" target="_blank"><i class="fab fa-twitter"></i></a><a href="https://github.com/137unknown/" target="_blank"><i class="fab fa-github"></i></a></div>
            </div><p class="copyright"><br /><a href="/">₳₦Ø₦3m!†¥</a> © 2020</p></div>
    </footer>
    </div>