<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="/">Anon3m!ty<img alt="footer-logo" src="/assets/img/android-chrome-192x192.png" style="width: 64px;height: 70px;"></a></h3>
            <p class="links"><a href="/blogs/">Blogs</a><strong> · </strong><a href="/courses/">Course</a><strong> · </strong><a href="/products/">Products</a><strong> · </strong><a href="/About/">About</a><strong> · </strong><a href="/privacy/">Privacy</a><strong> · </strong><a href="/contact/">Contact</a></p>
            <p
                class="company-name">Anon3m!ty © 2020<br></p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">JP, RAJ</span> India</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p>dev.anon3mity@gmail.com</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About Anon3m!ty</h4>
            <p>At Anon3m!ty we provide weekly updated tips-tricks Related To Developers.<br><br></p>
            <div class="social-links social-icons"><a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UChjpTjwVH5py0Du0fIKORKw?"><i class="fab fa-youtube"></i></a><a target="_blank" rel="noopener" href="https://twitter.com/Anon3mity"><i class="fa fa-twitter"></i></a><a target="_blank" rel="noopener" href="https://play.google.com/store/apps/dev?id=5407595051200327049"><i class="fab fa-google-play"></i></a><a target="_blank" rel="noopener" href="https://github.com/137unknown"><i class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>