<footer id="footer-s6">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-6 footer-navigation">
            <h3><a href="/" style="font-family: 'Alegreya SC', serif;">Anon3m!ty<img src="/assets/img/Artboard%201.png"
                        width="64">&nbsp;</a></h3>
            <p class="links" style="font-family: 'Alegreya SC', serif;"><a href="/">Home</a><strong> · </strong><a
                    href="/blogs/">Blogs</a><strong> · </strong><a
                    href="/about/">About</a><strong> · </strong><a href="/contact/">Contact</a>
            </p>
            <p class="company-name" style="font-family: 'Alegreya SC', serif;">Anon3m!ty © 2020</p>
        </div>
        <div class="col-md-4 footer-about">
            <h4 style="font-family: 'Alegreya SC', serif;">About the Anon3m!ty</h4>
            <p style="font-family: 'Alegreya SC', serif;"> At Anon3m!ty we provide weekly updated tips-tricks Related To Developers. </p>
            <div class="social-links social-icons"><a target="_blank" rel="noopener" href="https://twitter.com/Anon3mity"><i
                        class="fa fa-twitter"></i></a><a target="_blank" rel="noopener" href="https://github.com/137unknown"><i
                        class="fa fa-github"></i></a></div>
        </div>
    </div>
</footer>