<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="twitter:image" content="/assets/img/inc512.png">
<meta property="og:image" content="/assets/img/inc192.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Anon3m!ty">
<meta property="og:type" content="article">
<meta name="twitter:description" content="latest development trending topics &amp; free courses, video tutorials
to help people who having problem's learning code">
<meta name="theme-color" content="#0a0a0a">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/inc16.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/inc32.png">
<link rel="icon" type="image/png" sizes="180x180" href="/assets/img/inc180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/assets/img/inc192.png">
<link rel="icon" type="image/png" sizes="512x512" href="/assets/img/inc512.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets//img/inc180.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
<link rel="stylesheet" href="/assets/css/styles.min.css">          
{% seo %}