<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>Anon3m!ty</title>
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Anon3m!ty">
<meta property="og:image" content="/assets/img/logo.jpeg">
<meta name="description" content="latest development trending topics &amp; free courses, video tutorials
to help people who having problem's learning code">
<meta property="og:type" content="article">
<meta name="twitter:description" content="latest development trending topics &amp; free courses, video tutorials
to help people who having problem's learning code">
<meta name="twitter:image" content="/assets/img/logo.jpeg">
<meta name="theme-color" content="#0a0a0a">
<link rel="icon" type="image/jpeg" sizes="32x32" href="/assets/img/lo32.jpeg">
<link rel="icon" type="image/jpeg" sizes="undefinedxundefined" href="/assets/img/logo.jpeg">
<link rel="icon" type="image/jpeg" sizes="undefinedxundefined" href="/assets/img/logo.jpeg">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.3.1/cyborg/bootstrap.min.css">
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/assets/fonts/fontawesome5-overrides.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
<link rel="stylesheet" href="/assets/css/styles.min.css">