<nav class="navbar navbar-dark navbar-expand-md fixed-top" id="navbar">
    <div class="container"><img id="logo" alt="logo" src="/assets/img/android-chrome-192x192.png" width="60" height="70"><a class="navbar-brand" href="/">Anon3m!ty</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/blogs/"><i class="fas fa-blog nav-icon"></i>&nbsp;Blogs</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/courses/"><i class="fas fa-user-graduate nav-icon"></i>&nbsp;Courses</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/products/"><i class="fab fa-google-play nav-icon"></i>&nbsp;Products</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">MORE</a>
                    <div class="dropdown-menu" role="menu" style="background-color: rgb(36,51,88);"><a class="dropdown-item" href="/About/">About</a><a class="dropdown-item" href="/privacy/">Privacy</a><a class="dropdown-item" href="/contact/">Contact</a></div>
                </li>
            </ul>
    </div>
    </div>
</nav>