<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
    <div class="container"><img src="/assets/img/logo.jpeg" style="width: 68px;height: 68px;" alt="logo"><a class="navbar-brand text-white-50" href="/index.html" style="font-size: 20px;font-family: 'Almendra SC', serif;">₳₦Ø₦3m!†¥</a><button data-toggle="collapse" class="navbar-toggler"
            data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="https://anon3mity.github.io"><i class="fas fa-home"></i>&nbsp; Home</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/blogs/"><i class="fas fa-file-code"></i>&nbsp; BLOG</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="/courses/"><i class="fas fa-user-graduate"></i>&nbsp; COURSES</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">MORE</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/about.html"><i class="fas fa-info-circle" id="fI"></i>&nbsp;ABOUT</a><a class="dropdown-item" role="presentation" href="/privacy.html"><i class="far fa-copyright" id="fI"></i>&nbsp;PRIVACY</a>
                        <a
                            class="dropdown-item" role="presentation" href="https://www.youtube.com/channel/UChjpTjwVH5py0Du0fIKORKw"><i class="fab fa-youtube" id="fI"></i>&nbsp;SUBSCRIBE</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>