<nav class="navbar navbar-dark navbar-expand-md fixed-top" id="navbar" style="background-color: #000;">
    <div class="container"><a class="navbar-brand text-primary" href="/"><img src="/assets/img/Artboard%201.png"
                width="68" style="padding-right: 20px;">Anon3m!ty</a><button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active text-primary" href="/blogs/"><i
                            class="fas fa-code"></i>&nbsp;Blogs</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-primary" href="/courses/"><i
                            class="fas fa-user-graduate"></i>&nbsp;Courses</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link text-primary" href="/products/"><i
                            class="fab fa-google-play"></i>&nbsp;Products</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link text-primary" data-toggle="dropdown"
                        aria-expanded="false">MORE</a>
                    <div class="dropdown-menu" role="menu" style="background-color: #121212;"><a class="dropdown-item"
                            role="presentation" href="/about/" style="color: rgb(178,185,193);">About</a>
                        <a class="dropdown-item" role="presentation" href="/privacy/"
                            style="color: rgb(178,185,193);">Privacy &amp; Policy</a><a class="dropdown-item"
                            role="presentation" href="/contact/" style="color: rgb(178,185,193);">Contact us</a></div>
                </li>
            </ul>
        </div>
    </div>
</nav>