#webcoderskull {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

canvas {
  height: 300px;
  background-color: #121212;
}

#webcoderskull h1 {
  letter-spacing: 5px;
  font-size: 5rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

body {
  background: #141414;
}

/*  =Jumbotron Main--------------------------------------------------------------  */

.jumbotron.jumbotron-main {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #121212;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  margin: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: #6819e8;
  background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%);
  background: -webkit-linear-gradient(left, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  background: linear-gradient(to right, #6819e8 0%,#7437d0 35%,#615fde 68%,#6980f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6819e8', endColorstr='#6980f2',GradientType=1 );
}

.jumbotron.jumbotron-main hr {
  border-width: 1px 0px;
  border-style: dotted none;
  border-color: rgba(255, 255, 255, 0.35);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  width: 49px;
  height: 4px;
  text-align: center;
  position: relative;
  clear: both;
}

.jumbotron.jumbotron-main a {
  color: #121212;
}

.center-vertically {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
}

.center-vertically-holder {
  display: table;
  height: 100%;
}

.scroll-indicator {
  padding-top: 6px;
  display: inline-block;
  width: 50px;
}

.arrow-scroll-indicator {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.60);
}

.parallax-window {
  background: transparent;
}

.home-5-bg {
  background: #1E90FF;
  position: relative;
  background-size: cover;
  height: 50vh;
  background-position: center center;
}

.section {
  position: relative;
}

.home-5-content {
  z-index: 1;
  position: relative;
}

.bg-overlay {
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.home-center {
  display: table;
  width: 100%;
  height: 100%;
}

.home-desc-center {
  display: table-cell;
  vertical-align: middle;
}

.home-5-content {
  z-index: 1;
  position: relative;
}

.text-white-70 {
  color: rgba(255, 255, 255, 0.8);
}

.f-15 {
  font-size: 15px;
}

.home-5-bg #particles-js {
  z-index: 1!important;
  position: absolute;
  width: 100%;
  height: 100%;
}

