---
layout: default
---

<section id="site-header">
    <div class="jumbotron jumbotron-fluid jumbotron-main"><script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
<script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
<div id="particles-js">
<canvas class="particles-js-canvas-el" width="1409" height="319" style="width: 100%; height: 100%;"></canvas>
</div>
        <div class="container center-vertically-holder" style="margin-top:-20px;">
            <div class="row center-vertically">
                <div class="col-md-8 offset-sm-0 offset-md-2 text-center" style="margin-top:100px;margin-bottom:100px;">
                    <h1> Products.<br></h1>
                        <p><i class="fab fa-google-play nav-icon"></i>&nbsp; | Apps by Anon3m!ty<br></p>
                        <p><a class="btn btn-sm" role="button" id="header-btn" target="_blank" rel="noopener"href="https://play.google.com/store/apps/dev?id=5407595051200327049">VISIT PLAY STORE &nbsp;</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container text-center">
    <div class="row">
        <div class="col"><img src="{{ page.img }}" width="120px">
            <h1 class="text-success">{{ page.title }}</h1><a href="{{ page.link }}"><button class="btn btn-primary" type="button" style="background-color: rgb(6,146,53);margin-top: 13px;">Get It Now&nbsp;<i class="fab fa-google-play" style="color: rgb(0,0,0);"></i></button></a></div>
    </div>
</div>
<div class="container text-center" style="margin-top: 33px;">
    <div class="row">
        <div class="col">
            <h1 class="text-danger">Short Description</h1>
            <p class="text-danger">{{ page.shortdesc }}</p>
        </div>
    </div>
</div>
<div class="container text-center" style="margin-top: 33px;">
    <div class="row">
        <div class="col">
            <div role="tablist" id="accordion-1">
                <div class="card" id="privacy">
                    <div class="card-header" role="tab">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1">Privacy &amp; Policy&nbsp; For {{ page.title }}&nbsp;<i class="fas fa-info-circle" style="color: rgb(4,111,9);"></i></a></h5>
                    </div>
                    <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1" style="background-color: #0a0909;">
                        <div class="card-body">
                            <p class="card-text" style="color: rgb(22,105,188);">{{ content }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>