---
title: blog

---
<!DOCTYPE html>
<html lang="en">

    <head>
     {% include head.html %}
     {% seo %}
    </head>

    <header>
      {% include nav.html %}
     
   </header>
   
    <body style="font-family: 'Alegreya SC', serif;">
        
             {{content}}

          <footer>
             {% include footer.html %}
          </footer>
          

          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
          <script src="/assets/js/script.min.js"></script>
        </body>

</html>