<!DOCTYPE html>

<html lang="en">
  

  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <title>Anon3m!ty . {{page.title}} </title>
    {% seo %}
     
      <link rel="icon" href="/favicon.png" type="image/png">
     {% feed_meta %}
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link href="https://fonts.googleapis.com/css?family=Lacquer&display=swap" rel="stylesheet">
      <link href='https://fonts.googleapis.com/css?family=Cardo' rel='stylesheet'>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script data-ad-client="ca-pub-7926875234119715" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <meta name="google-site-verification" content="uK2kKkMHizTNO9q243I4O5iLXFVywKy3n3TGCsoWd1g" >
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{{stie.baseurl}}/css/common.css" rel="stylesheet">
    </head>
 <header>
{% include nav.html %}


  </header>


<body 

id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
 
   
  {{content}}
 

<div class="container-fluid fixed-bottom">
  {% include footer.html %}
</div>
</body>
<script>
  var coll = document.getElementsByClassName("collapsible");
  var i;
  
  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = content.scrollHeight + "px";
      } 
    });
  }
  </script>
</html>